<h4>Enter your email below and we will email you instructions on resetting your
  password</h4>

  <form action="<%=forgotten_passwords_url%>" method="post">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <input type="submit"  value="Submit">
  </form>